/**
 * This CSS file controls the form element directives.
 */
.ui-form {

}

/* Making the requried asterix small. */
.ui-form div.form-group label sup {

    font-size: 7px;
    padding-left: 3px;
}

/* Edit mode. Show form fields, required * and hide static fields. */
.ui-form[data-edit-mode="true"] div.form-group .form-control,
.ui-form[data-edit-mode="false"] div.form-group input[type="checkbox"],
.ui-form[data-edit-mode="false"] div.form-group input[type="radio"],
.ui-form[data-edit-mode="false"] div.form-group textarea,
.ui-form[data-edit-mode="false"] div.form-group select {

    display: block;
}

.ui-form[data-edit-mode="true"] div.form-group label[data-ng-required="true"] sup {

    display: inline-block;
}

.ui-form[data-edit-mode="true"] div.form-group p.form-control-static {

    display: none;
}

/* View mode. Hide form fields, reuired * and show static fields. */
.ui-form[data-edit-mode="false"] div.form-group .form-control,
.ui-form[data-edit-mode="false"] div.form-group input[type="checkbox"],
.ui-form[data-edit-mode="false"] div.form-group input[type="radio"],
.ui-form[data-edit-mode="false"] div.form-group textarea,
.ui-form[data-edit-mode="false"] div.form-group select {

    display: none;
}

.ui-form[data-edit-mode="false"] div.form-group label[data-ng-required="true"] sup {

    display: none;
}

.ui-form[data-edit-mode="false"] div.form-group p.form-control-static {

    display: block;
}

/* View mode show fields are editable implicitly. */
.ui-form[data-edit-mode="false"] div.form-group p.form-control-static {
    border: 1px dashed transparent;
}

.ui-form[data-edit-mode="false"] div.form-group p.form-control-static:hover {
    border: 1px dashed grey;
}

/* Handle the text overflow in the view mode. */
.ui-form[data-edit-mode="false"] div.form-group p.form-control-static {
    text-overflow: ellipsis;
    overflow: hidden;
}

/* View mode classes for checkbox. */
.checked:after {

    content: "+";
    color: green;
}
.unchecked:after {

    content: "-";
    color: red;
}

     /* Required field style for input elements. Uncomment if you want to use borders for required fields */
/*.ui-form div.form-group input.form-control[data-ng-required="true"],*/
/*.ui-form div.form-group textarea.form-control[data-ng-required="true"],*/
/*.ui-form div.form-group select.form-control[data-ng-required="true"] {*/

    /*border-left: 4px solid #A94442;*/
/*}*/

/* Changed field style for input elements. Uncomment if you want to use borders for changed fields */
/*.ui-form div.form-group input.form-control[data-ng-changed="true"],*/
/*.ui-form div.form-group textarea.form-control[data-ng-changed="true"],*/
/*.ui-form div.form-group select.form-control[data-ng-changed="true"] {*/

    /*border-right: 4px solid #23CDFD;*/
/*}*/

/* Readonly and disabled states. */
.ui-form div.form-group input.form-control[readonly='readonly'],
.ui-form div.form-group textarea.form-control[readonly='readonly'],
.ui-form div.form-group select.form-control[readonly='readonly'],
.ui-form div.form-group input.form-control[disabled='disabled'],
.ui-form div.form-group textarea.form-control[disabled='disabled'],
.ui-form div.form-group select.form-control[disabled='disabled'] {

    border: transparent;
}
